

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into Light&amp;display=swap" media="all" id="shr-font-shadows-into light">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css">
        <link rel="stylesheet" href="../template7/css.css">
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
        <meta property="og:image" itemprop="image" content="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585901910030.jpeg"/>
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Mr. Paresh Patel (Founder)" />
        <title>Link Connect</title>
        <link rel="manifest" id="manifest-placeholder">
        <script>
            var dynamicManifest = {
                "name": "Link Connect",
                "short_name": "Link Connect",
                "description": "Link Connect",
                "start_url": "https://card.linkconnect.in/link-connect",
                "background_color": "#000000",
                "theme_color": "#0f4a73",
                "icons": [{
                    "src": "https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585901910030.jpeg",
                    "sizes": "256x256",
                    "type": "image/png"
                }],
                "display": "standalone"
            }
          const stringManifest = JSON.stringify(dynamicManifest);
          const blob = new Blob([stringManifest], {type: 'application/json'});
          const manifestURL = URL.createObjectURL(blob);
          document.querySelector('#manifest-placeholder').setAttribute('href', manifestURL);
          window.cardId = 'link-connect';
        </script>
        <style>
            .profile-pic .profile-pic-img {
                width: 150px;
                margin-top: 25px;
                border-radius: 8px;
                border: 2px solid #ffffff;
            }

            .name,
            .firmname {
                font-size: 14px;
                font-weight: 500;
                color: white;
                letter-spacing: 0.6px;
                // margin-bottom: 10px;
                margin: 0;
                margin-bottom: 7px;
                text-transform: uppercase;
                text-align: left;
            }
            .firmname {
                font-size: 18px;
                margin-bottom: 14px;
                margin-top: 10px;
            }
            .name {
                text-transform: capitalize;
                font-size: 16px;
                line-height: 20px;
            }
        </style>
    </head>
    <body>
        <div class="page-wrapper" id="home-section">
            <div class="page-details">
                <div>
                    <div class="p-10"></div>
                    <div class="views-label"><i class="fas fa-eye"></i> Views: <b>13292</b></div>

                    <!-- User Profile Pic -->
                    <div class="profile-pic">
                        <img src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585901910030.jpeg" class="profile-pic-img">
                    </div>

                    <!-- User Company Name -->
                    <h1 class="firmname">Link Connect</h1>

                    <!-- User First Name and Last Name -->
                    <h1 class="name">Mr. Paresh Patel <span class="designation">(Founder)</span></h1>
                    <h1 class="name">Mr. Alpesh Patel <span class="designation">(Founder)</span></h1>

                    <div style="width:60px;background-color:#0085C4;height:2px;margin-top: 15px;"></div>
                    <!-- Cover Photo, Photo, Name and Profession section completed -->
                </div>
                <div>
                    <!-- FRONT CONTACT ACTIONS START-->
                    <div class="p-10"></div>
                    <div class="contact-buttons">
                        <a class="contact-button" href="tel:9509434880">
                            <i class="fas fa-phone fa-flip-horizontal"></i>
                            Call
                        </a>
                        <a class="contact-button" target="_blank" href="https://wa.me/919509434880?text=Got reference from your Digital vCard. Want to know more about your products and services.">
                            <i class="fab fa-whatsapp"></i>
                            Whatsapp
                        </a>
                        <a class="contact-button" target="_blank" href="https://maps.google.com/?cid=13681914601966132733">
                            <i class="fas fa-map-marker-alt fa-flip-horizontal"></i>
                            Direction
                        </a>
                        <a class="contact-button" target="_blank" href="mailto:info@linkconnect.in">
                            <i class="fas fa-envelope fa-flip-horizontal"></i>
                            Mail
                        </a>
                    </div>

                    <table class="contact-action-table">
                        <tbody>
                            
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://maps.google.com/?cid=13681914601966132733">
                                                    <i class="fas fa-map-marker-alt contact-action-container-icon"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a target="_blank" href="https://maps.google.com/?cid=13681914601966132733" class="contact-action-container-text" style="max-width: 220px;">
                                                    1st Floor, Mahila Ashram Road, Near Veer Sawerkar Chouk, Bhopal Gunj, Bhilwara,Rajasthan - 311001
                                                </a>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <a target="_blank" href="https://maps.google.com/?cid=13681914601966132733">
                                                    <i class="fas fa-map-marker-alt contact-action-container-icon"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a target="_blank" href="https://maps.google.com/?cid=13681914601966132733" class="contact-action-container-text" style="max-width: 220px;">
                                                    1st Floor, Mahila Ashram Road, Near Veer Sawerkar Chouk, Bhopal Gunj, Bhilwara,Rajasthan - 311001
                                                </a>
                                            </td>
                                        </tr>
                                        
                            
                                <tr>
                                    <td>
                                        <a href="mailto:info@linkconnect.in">
                                            <i class="fas fa-envelope contact-action-container-icon"></i>
                                        </a>
                                    </td>
                                    <td>
                                        
                                                <a href="mailto:info@linkconnect.in" class="contact-action-container-text">
                                                    info@linkconnect.in
                                                </a><br />
                                                
                                                <a href="mailto:patel.paresh894@gmail.com" class="contact-action-container-text">
                                                    patel.paresh894@gmail.com
                                                </a><br />
                                                
                                    </td>
                                </tr>
                                
                            <tr>
                                <td>
                                    <a target="_blank" href="http://www.digivisitingcard.co.in">
                                        <i class="fas fa-globe contact-action-container-icon"></i>
                                    </a>
                                </td>
                                <td>
                                    <a target="_blank" href="http://www.digivisitingcard.co.in" class="contact-action-container-text">
                                        http://www.digivisitingcard.co.in
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a target="_blank" href="tel:9509434880">
                                        <i class="fas fa-phone fa-flip-horizontal contact-action-container-icon"></i>
                                    </a>
                                </td>
                                <td>
                                    <a target="_blank" href="tel:9509434880" class="contact-action-container-text" >
                                        +919509434880
                                    </a>
                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <div class="p-30"></div>

                    <div class="whatsapp-input">
                        <div class="input-wrapper">
                            <input type="tel" id="whatsapp-input" class="input" placeholder="Enter whatsapp number" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
                        </div>
                        <a class="whatsapp-button"
                            target="_blank"
                            href="javascript:;"
                            onclick="handleWhatsappShare(this)">
                            <i class="fab fa-whatsapp"></i>Share on Whatsapp
                        </a>
                    </div>

                    <div class="p-30"></div>

                    <div class="shadow-buttons">
                        <a class="shadow-button" href="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3/3.vcf" download><i class="fas fa-download shadow-button-icon"></i>Add to Phone Book</a>
                        <a class="shadow-button" onclick="openShareModal(this, `Link Connect`)"><i class="fas fa-share-alt shadow-button-icon"></i>Share</a>
                    </div>
                    <div><a class="shadow-button save-card-button"><i class="fas fa-cloud-download-alt shadow-button-icon"></i>Save Card</a></div>

                    <div class="p-30"></div>

                    <ul class="inprofile share-buttons">
                        <li class="share-button">
                                <a target="_blank" href="https://m.facebook.com/Digital-Vcard-101768194678968"><i class="share-button-facebook fab fa-facebook-f"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-twitter fab fa-twitter"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-instagram fab fa-instagram"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-youtube fab fa-youtube"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-pinterest fab fa-pinterest-p"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-linkedin fab fa-linkedin-in"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-telegram fab fa-telegram-plane"></i></a>
                            </li>
                    </ul>

                    <div class="p-20"></div>
                    <!-- FRONT CONTACT ACTIONS COMPLETED-->
                    <!-- <div style="width:90%;background-color:#05A1CA;height:2px;"></div> -->
                </div>
            </div>
        </div>
        
            <div class="section-container" id="about-us-section">
                <h2 class="section-header">About Us</h2>
                <div style="width:60px;background-color:#0085C4;height:2px;"></div>
                <table class="about-us-table">
                    <tbody>
                        <tr>
                            <td class="table-row-label">
                                <h3 class="table-row-label-text">Company Name</h3><b class="table-row-label-separator">:</b>
                            <td>
                            <td class="table-row-value">
                                Link Connect
                            <td>
                        </tr>
                        
                        <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Year of Est.</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    2019
                                <td>
                            </tr>
                        <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Nature of Business</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    digital Service Provider 
                                <td>
                            </tr>
                    </tbody>
                </table>
                <h3>Our Specialities</h3>
                    <ul class="unorderedList">
                        
                                <li>Knowledgeable team of professionals</li>
                                
                                <li>Affordable pricing</li>
                                
                                <li>Reliable services</li>
                                
                                <li>Live In Touch With Our Customers</li>
                                
                                <li>Customized solutions</li>
                                
                                <li>Best Consultancy</li>
                                
                                <li>Use of advanced technology</li>
                                
                                <li>We listen,We understand, We provide Solution</li>
                                
                                <li>We Provide Pan India services</li>
                                
                                <li>A great experience with Happy clients</li>
                                
                    </ul>
                <div class="about-us-text">Freedom from Boring Printed Business Cards Forget about old fashioned printed visiting cards that generally goes to the dustbin. <br><br>

<b>GO PAPERLESS , GO DIGITAL </b><br><br>

We help businesses and individuals to share their contact details using Digital Visiting Card.
With our Digital Business Card, you can create and share your contact information that has Actionable one click events like Call, Email, Whatsapp, Navigation, Website Link, Payment, Social Links, Maps and more.
Make Digital Visiting Card => Share digital Card => Add Leads In Business</div>
                <h3>Documents</h3>
                    
                            <a class="document-wrapper" href="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/link-connect/1587884730184.pdf" download>
                                <div class="pdf-icon"><i class="fa fa-file-pdf"></i></div>
                                <div class="pdf-number">LinkConnect (1).pdf</div>
                                <div class="download-icon"><i class="fa fa-download"></i></div>
                            </a>
                            
                    
                
            </div>
            
        <div class="section-container" id="products-services-section">
                <h2 class="section-header">Products/Services</h2>
                <div style="width:60px;background-color:#0085C4;height:2px;"></div>
                <div class="p-10"></div>
                <div>
                    <div class="card">
                        <h3 class="card-title">Digital Visiting Card </h3>
                        
                        <img onclick="openImageModal(this)" alt="Digital Visiting Card " src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895565093.jpeg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919509434880?text=Hi, I am interested in your product/service: Digital Visiting Card . Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Website Development </h3>
                        
                        <img onclick="openImageModal(this)" alt="Website Development " src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895592871.png" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919509434880?text=Hi, I am interested in your product/service: Website Development . Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Digital Marketing Intelligence</h3>
                        
                        <img onclick="openImageModal(this)" alt="Digital Marketing Intelligence" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895906495.jpeg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919509434880?text=Hi, I am interested in your product/service: Digital Marketing Intelligence. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    
                    
                </div>

            </div>
        
        <div class="section-container" id="gallery-section">
                <h2 class="section-header">Gallery</h2>
                <div style="width:60px;background-color:#0085C4;height:2px;"></div>
                <div class="p-10"></div>
                <div class="images-container">
                <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 1" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895926507.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 2" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895926508.png" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 3" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895926509.png" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 4" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585895926510.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 5" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585896005455.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 6" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585896005456.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 7" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585896005457.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 8" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585896005458.jpeg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 9" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/link-connect/1585896005459.jpeg" style="width:100%">
                    </div>
                    
                </div>
            </div>
        
        <div class="section-container" id="feedback-section">
                <h2 class="section-header">Feedbacks</h2>
                <div style="width:60px;background-color:#0085C4;height:2px;"></div>
                <div class="p-10"></div>
                <div class="feedback-list" id="feedback-list"></div>
                <div class="feedback-button-wrapper">
                    <input type="button" value="Load more feedbacks" id="load-more-feedback-btn"/>
                </div>
                <form class="feedback-form card" novalidate>
                    <div class="feedback-form-heading">Give Feedback</div>
                    <select class="star-rating" id="rating" name="rating">
                        <option value="">Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Very Good</option>
                        <option value="3">Average</option>
                        <option value="2">Poor</option>
                        <option value="1">Terrible</option>
                    </select>
                    <input type="text" name="feedbackName" id="feedbackName" placeholder="Enter Full Name"/>
                    <textarea name="feedback" id="feedback" placeholder="Enter your feedback"></textarea>
                    <!-- Message:<br/> -->
                    <input type="button" value="Give Feedback" onclick="sendFeedback(this, 'link-connect')"/>
                </form>
            </div>
        
            <div class="section-container" id="enquiry-section">
                <h2 class="section-header">Enquiry Form</h2>
                <div style="width:60px;background-color:#0085C4;height:2px;"></div>
                <div class="p-10"></div>
                <form class="enquiry-form" novalidate>
                    <!-- Full Name:<br/> -->
                    <input type="text" name="enquiryName" id="enquiryName" placeholder="Enter Full Name"/><br/>
                    <div class="flex">
                        <div class="enquiry-phoneNumber">
                            <!-- Phone Number:<br/> -->
                            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number"/><br/>
                        </div>
                        <div class="enquiry-email">
                            <!-- Email:<br/> -->
                            <input type="text" name="email" id="email" placeholder="Enter Email"/><br/>
                        </div>
                    </div>
                    <!-- Message:<br/> -->
                    <textarea name="message" id="message" placeholder="Enter Message"></textarea><br/>
                    <input type="button" value="Send" onclick="sendEnquiry(this, 'info@linkconnect.in')"/>
                </form>
            </div>
            

        <div class="copyright-wrapper">
            © 2021 <a href="http://card.linkconnect.in" target="_blank"><b>card.linkconnect.in</b></a>
        </div>

        <!-- Footer Menu -->
        <div class="footer">
            <ul class="footer-menu">
                <li>
                    <a class="footer-menu-link" href="#home-section">
                        <i class="footer-menu-icon fas fa-home"></i>
                        <div class="footer-menu-text">HOME</div>
                    </a>
                </li>
                <li>
                        <a class="footer-menu-link" href="#about-us-section">
                            <i class="footer-menu-icon fas fa-briefcase"></i>
                        <div class="footer-menu-text">ABOUT US</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#products-services-section">
                            <i class="footer-menu-icon fas fa-box-open"></i>
                        <div class="footer-menu-text">PRODUCTS</div>
                        </a>
                    </li>
                
                <li>
                        <a class="footer-menu-link" href="#gallery-section">
                            <i class="footer-menu-icon fas fa-file-image"></i>
                            <div class="footer-menu-text">GALLERY</div>
                        </a>
                    </li>
                    
                
                <li>
                        <a class="footer-menu-link" href="#feedback-section">
                            <i class="footer-menu-icon fas fa-star"></i>
                            <div class="footer-menu-text">FEEDBACK</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#enquiry-section">
                            <i class="footer-menu-icon fas fa-comment-alt"></i>
                            <div class="footer-menu-text">ENQUIRY</div>
                        </a>
                    </li>
            </ul>
        </div>
        <!-- The image Modal -->
        <div id="imageModal" class="modal">
            <span class="close" id="imageModalClose">&times;</span>
            <img class="modal-content fadeIn" id="img01">
            <div id="caption"></div>
        </div>
        <!-- The share Modal -->
        <div id="shareModal" class="modal share-modal">
            <div class="share-form fadeInUpBig">
                <div class="share-form-header">
                    <h3 class="share-form-header-text">Share Profile</h3>
                    <span class="close" id="shareModalClose">&times;</span>
                </div>
                <div class="share-form-buttons-container">
                    <p>Share my Digital vCard in your network.</p>
                    <div class="share-buttons-heading">
                        <img src="../templates/template1/tild-arrow.svg" class="share-buttons-arrow">
                        <div class="share-buttons-heading-text">Share my Digital vCard</div>
                    </div>
                    <ul class="share-buttons">
                        <li class="share-button">
                            <a href="javascript:;" target="_blank" onclick="handleDirectWhatsappShare(this, 9509434880)">
                                <i class="share-button-whatsapp fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="sms:?body=http://card.linkconnect.in/link-connect">
                                <i class="share-button-sms fas fa-comment-dots"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://card.linkconnect.in/link-connect&src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                <i class="share-button-facebook fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="https://twitter.com/intent/tweet?text=http://card.linkconnect.in/link-connect" data-size="large">
                                <i class="share-button-twitter fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="http://pinterest.com/pin/create/link/?url=http://card.linkconnect.in/link-connect">
                                <i class="share-button-pinterest fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="mailto:?subject=Digital Card&amp;body=Check out this digital card http://card.linkconnect.in/link-connect.">
                                <i class="share-button-mail fas fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
        <script src="../commonjs.js"></script>
    </body>
</html>
    