

<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into Light&amp;display=swap" media="all" id="shr-font-shadows-into light">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css">
        <script src="https://connect.facebook.net/en_US/sdk.js?hash=9fd289b669a723c54e0d115f45a6f418&amp;ua=modern_es6" async="" crossorigin="anonymous"></script><script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v5.0"></script>
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
        <meta property="og:image" itemprop="image" content="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603683902334.jpeg">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Mr. DIPESH SANGHVI  " />
        <link rel="stylesheet" href="/template4/css.css">
        <title>AMARDEEP METALS</title>
        <link rel="manifest" id="manifest-placeholder">
    </head>
    <body>
        <div class="page-wrapper" id="home-section">
            <div class="corner"></div>
            <div class="views-label"><i class="fas fa-eye"></i> Views: <b>735</b></div>
            <div class="upper">
                <!-- User Profile Pic -->
                <img src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603683902334.jpeg" class="profile-pic-img">
                <!-- User Company Name -->
                <div class="firmname">AMARDEEP METALS</div>
                <div style="width: 40%;background-color: #00960d;height:2px;margin-bottom: 10px;"></div>
                <!-- User First Name and Last Name -->
                <div class="name">Mr. DIPESH SANGHVI  </div>
                
                <div class="contact-buttons">
                    <a class="contact-button" href="tel:9920299901">
                        <i class="fas fa-phone fa-flip-horizontal"></i>
                        <!-- Call -->
                    </a>
                    <a class="contact-button" target="_blank" href="https://wa.me/919920299901?text=Got reference from your Digital vCard. Want to know more about your products and services.">
                        <i class="fab fa-whatsapp"></i>
                        <!-- Whatsapp -->
                    </a>
                    <a class="contact-button" target="_blank" href="undefined">
                        <i class="fas fa-map-marker-alt fa-flip-horizontal"></i>
                        <!-- Direction -->
                    </a>
                    <a class="contact-button" target="_blank" href="mailto:amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com">
                        <i class="fas fa-envelope fa-flip-horizontal"></i>
                        <!-- Mail -->
                    </a>
                </div>
            </div>
            <div class="lower">
                <table class="contact-action-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="trapezoid">
                                    <a target="_blank" href="tel:9920299901" class="contact-action-container-icon">
                                        <i class="fas fa-phone fa-flip-horizontal"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a target="_blank" href="tel:9920299901" class="contact-action-container-text">
                                +919920299901
                                </a>
                                
                            </td>
                        </tr>
                        
                        
                                    <tr>
                                        <td>
                                            <div class="trapezoid">
                                                <a target="_blank"  class="contact-action-container-icon">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a target="_blank"  class="contact-action-container-text address-text">
                                                Address: India
                                            </a>
                                        </td>
                                    </tr>
                                    
                        <tr>
                                <td>
                                    <div class="trapezoid">
                                        <a target="_blank" href="mailto:amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com" class="contact-action-container-icon">
                                            <i class="fas fa-envelope"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    
                                            <a href="mailto:amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com" class="contact-action-container-text">
                                                amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com
                                            </a><br />
                                            
                                </td>
                            </tr>
                        <tr>
                            <td>
                                <div class="trapezoid">
                                    <a target="_blank" href="http://www.amardeepmetals.com" class="contact-action-container-icon">
                                        <i class="fas fa-globe"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a target="_blank" href="http://www.amardeepmetals.com" class="contact-action-container-text">
                                    http://www.amardeepmetals.com
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="padding: 15px;">
                    <div class="p-30"></div>
                    <div class="whatsapp-input">
                        <div class="input-wrapper">
                            <input type="tel" id="whatsapp-input" class="input" placeholder="Enter whatsapp number" oninput="this.value=this.value.replace(/[^0-9]/g,'');"/>
                        </div>
                        <a class="whatsapp-button" target="_blank" href="javascript:;" onclick="handleWhatsappShare(this)">
                        <i class="fab fa-whatsapp"></i>Share on Whatsapp
                        </a>
                    </div>
                    <div class="p-20"></div>
                    <div class="shadow-buttons">
                        <a class="shadow-button" href="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/3034.vcf" download=""><i class="fas fa-download shadow-button-icon"></i>Add to Phone Book</a>
                        <a class="shadow-button" onclick="openShareModal(this, `AMARDEEP METALS`)"><i class="fas fa-share-alt shadow-button-icon"></i>Share</a>
                    </div>
                    <div><a class="shadow-button save-card-button"><i class="fas fa-cloud-download-alt shadow-button-icon"></i>Save Card</a></div>
                    <div class="p-30"></div>
                    <ul class="inprofile share-buttons">
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-facebook fab fa-facebook-f"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-twitter fab fa-twitter"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-instagram fab fa-instagram"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-youtube fab fa-youtube"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-pinterest fab fa-pinterest-p"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-linkedin fab fa-linkedin-in"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" ><i class="share-button-telegram fab fa-telegram-plane"></i></a>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="corner-bottom"></div>
        </div>
        
        <div class="section-container" id="about-us-section">
            <div class="corner"></div>
            <h2 class="section-header">About Us</h2>
            <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
            <table class="about-us-table">
                <tbody>
                    <tr>
                        <td class="table-row-label">
                            <h3 class="table-row-label-text">Company Name</h3><b class="table-row-label-separator">:</b>
                        <td>
                        <td class="table-row-value">
                            AMARDEEP METALS
                        <td>
                    </tr>
                    
                    <tr>
                            <td class="table-row-label">
                                <h3 class="table-row-label-text">Year of Est.</h3><b class="table-row-label-separator">:</b>
                            <td>
                            <td class="table-row-value">
                                1978
                            <td>
                        </tr>
                    <tr>
                            <td class="table-row-label">
                                <h3 class="table-row-label-text">Nature Of Business</h3><b class="table-row-label-separator">:</b>
                            <td>
                            <td class="table-row-value">
                                Expoter/importer
                            <td>
                        </tr>
                </tbody>
            </table>
            <h3 class="speciality-label">Our Specialities</h3>
                <ul class="unorderedList">
                    
                            <li>Knowledgeable team of professionals</li>
                            
                            <li>Complete client satisfaction</li>
                            
                            <li>Affordable pricing</li>
                            
                            <li>Qualitative products</li>
                            
                            <li>Ability to undertake bulk orders</li>
                            
                            <li>Transparent dealings</li>
                            
                            <li>Wide connectivity</li>
                            
                            <li>A great experience with Happy clients</li>
                            
                </ul>
            <div class="about-us-text"><h3><strong>Gst no: 27ALOPS1046B1Z6</strong></h3><p>AMARDEEP METALS was established in 1978 and today it is one of the leading Importers, Exporters &amp; Stockiest of all types of Metals &amp; Steels products like Pipes, Tubes, Sheets, Plates, Rods, Bars, Fittings and Flanges. These products are procured from reputed Indian &amp; International Manufacturers from Japan, Germany, Spain, USA, Europe, Ukraine &amp; Romania. We always maintain the bulk stock of above materials for catering to the urgent needs of our esteemed customers. We have been in operation for over 30 years and have established an excellent reputation based on our technical knowledge, quality of product, ability to respond immediately to customer requirements and first class services</p></div>
            
            
            <div class="corner-bottom"></div>
        </div>
        <div class="section-container" id="products-services-section">
                <div class="corner"></div>
                <h2 class="section-header">Products/Services</h2>
                <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
                <div>
                    <div class="card">
                        <h3 class="card-title">specialist of Stainless steel Round</h3>
                        
                        <img onclick="openImageModal(this)" alt="specialist of Stainless steel Round" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603685881547.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: specialist of Stainless steel Round. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">specialist of Stainless steel Hex</h3>
                        
                        <img onclick="openImageModal(this)" alt="specialist of Stainless steel Hex" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603685903900.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: specialist of Stainless steel Hex. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">specialist of Stainless steel Square</h3>
                        
                        <img onclick="openImageModal(this)" alt="specialist of Stainless steel Square" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603685917142.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: specialist of Stainless steel Square. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Stainless Steel Pipes & Tubes</h3>
                        
                        <img onclick="openImageModal(this)" alt="Stainless Steel Pipes & Tubes" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453292627.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Stainless Steel Pipes & Tubes. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Rods & bars</h3>
                        
                        <img onclick="openImageModal(this)" alt="Rods & bars" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453354399.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Rods & bars. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Sheets & Plates</h3>
                        
                        <img onclick="openImageModal(this)" alt="Sheets & Plates" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453396083.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Sheets & Plates. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Pipe Fittings</h3>
                        
                        <img onclick="openImageModal(this)" alt="Pipe Fittings" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453421461.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Pipe Fittings. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Flanges</h3>
                        
                        <img onclick="openImageModal(this)" alt="Flanges" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453446080.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Flanges. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Fasteners</h3>
                        
                        <img onclick="openImageModal(this)" alt="Fasteners" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453484590.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Fasteners. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Customised Fabrication</h3>
                        
                        <img onclick="openImageModal(this)" alt="Customised Fabrication" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453512488.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Customised Fabrication. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    <div class="card">
                        <h3 class="card-title">Wire</h3>
                        
                        <img onclick="openImageModal(this)" alt="Wire" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453533898.jpg" style="width:100%;margin-bottom: 15px;">
                        <div class="product-enquiry-section">
        <div class="product-price">
        
        </div>
        <a href="https://wa.me/919920299901?text=Hi, I am interested in your product/service: Wire. Please provide more details." target="blank" class="product-enquiry-btn">Enquiry</a>
    </div>
                    </div>
                    
                    
                </div>
                <div class="corner-bottom"></div>

            </div>
        <div class="section-container" id="payment-options-section">
            <div class="corner"></div>
            <h2 class="section-header">Payment</h2>
                <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
                <div>
                    <table class="about-us-table">
                        <tbody>
                            
                            
                            
                        </tbody>
                    </table>
                    <h3>Account Details:</h3>
                        <table class="about-us-table">
                            <tbody>
                                <tr>
                                        <td class="table-row-label">
                                            <h3 class="table-row-label-text">Bank Name</h3><b class="table-row-label-separator">:</b>
                                        <td>
                                        <td class="table-row-value">
                                            Bank of Baroda, Branch : V P Road
                                        <td>
                                    </tr>
                                <tr>
                                        <td class="table-row-label">
                                            <h3 class="table-row-label-text">IFSC code</h3><b class="table-row-label-separator">:</b>
                                        <td>
                                        <td class="table-row-value">
                                            BARB0VPROAD
                                        <td>
                                    </tr>
                                <tr>
                                        <td class="table-row-label">
                                            <h3 class="table-row-label-text">Account Holder Name</h3><b class="table-row-label-separator">:</b>
                                        <td>
                                        <td class="table-row-value">
                                            Amardeep Metals
                                        <td>
                                    </tr>
                                <tr>
                                        <td class="table-row-label">
                                            <h3 class="table-row-label-text">Account Number</h3><b class="table-row-label-separator">:</b>
                                        <td>
                                        <td class="table-row-value">
                                            13100500000025
                                        <td>
                                    </tr>
                                <tr>
                                        <td class="table-row-label">
                                            <h3 class="table-row-label-text">Account Type</h3><b class="table-row-label-separator">:</b>
                                        <td>
                                        <td class="table-row-value">
                                            Current Account 
                                        <td>
                                    </tr>
                            </tbody>
                        </table>
                    
                </div>
                <div class="corner-bottom"></div>
            </div>
        <div class="section-container" id="gallery-section">
                <div class="corner"></div>
                <h2 class="section-header">Gallery</h2>
                <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
                <div class="images-container">
                <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 1" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561937.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 2" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561938.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 3" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561939.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 4" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561940.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 5" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561941.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 6" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561942.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 7" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561943.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 8" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561944.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 9" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561945.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 10" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561946.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 11" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561947.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 12" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561948.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 13" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561949.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 14" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561950.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 15" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561951.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 16" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561952.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 17" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561953.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 18" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561954.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 19" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561955.jpg" style="width:100%">
                    </div>
                    <div class="image-wrapper">
                        <img onclick="openImageModal(this)" alt="Image 20" src="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/1603453561956.jpg" style="width:100%">
                    </div>
                    
                </div>
                <div class="corner-bottom"></div>
            </div>
        
        
        
            <div class="section-container" id="enquiry-section">
                <div class="corner"></div>
                <h2 class="section-header">Enquiry Form</h2>
                <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
                <form class="enquiry-form" novalidate>
                    <!-- Full Name:<br/> -->
                    <input type="text" name="enquiryName" id="enquiryName" placeholder="Enter Full Name"/><br/>
                    <div class="flex">
                        <div class="enquiry-phoneNumber">
                            <!-- Phone Number:<br/> -->
                            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number"/><br/>
                        </div>
                        <div class="enquiry-email">
                            <!-- Email:<br/> -->
                            <input type="text" name="email" id="email" placeholder="Enter Email"/><br/>
                        </div>
                    </div>
                    <!-- Message:<br/> -->
                    <textarea name="message" id="message" placeholder="Enter Message"></textarea><br/>
                    <input type="button" value="Send" onclick="sendEnquiry(this, 'amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com')"/>
                </form>
                <div class="corner-bottom"></div>
            </div>
            
        <div class="copyright-wrapper">
            <div class="copyright-wrapper-inner">
                © 2021 <a href="http://card.linkconnect.in" target="_blank"><b>card.linkconnect.in</b></a>
            </div>
        </div>
        <!-- Footer Menu -->
        <div class="footer">
            <ul class="footer-menu">
                <li>
                    <a class="footer-menu-link" href="#home-section">
                        <i class="footer-menu-icon fas fa-home"></i>
                        <div class="footer-menu-text">HOME</div>
                    </a>
                </li>
                <li>
                        <a class="footer-menu-link" href="#about-us-section">
                            <i class="footer-menu-icon fas fa-briefcase"></i>
                        <div class="footer-menu-text">ABOUT US</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#products-services-section">
                            <i class="footer-menu-icon fas fa-box-open"></i>
                        <div class="footer-menu-text">PRODUCTS</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#payment-options-section">
                            <i class="footer-menu-icon fas fa-money-bill-alt"></i>
                        <div class="footer-menu-text">PAYMENT</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#gallery-section">
                            <i class="footer-menu-icon fas fa-file-image"></i>
                            <div class="footer-menu-text">GALLERY</div>
                        </a>
                    </li>
                
                
                <li>
                        <a class="footer-menu-link" href="#enquiry-section">
                            <i class="footer-menu-icon fas fa-comment-alt"></i>
                            <div class="footer-menu-text">ENQUIRY</div>
                        </a>
                    </li>
            </ul>
        </div>
        <!-- The image Modal -->
        <div id="imageModal" class="modal">
            <span class="close" id="imageModalClose">&times;</span>
            <img class="modal-content fadeIn" id="img01">
            <div id="caption"></div>
        </div>
        <!-- The share Modal -->
        <div id="shareModal" class="modal share-modal">
            <div class="share-form fadeInUpBig">
                <div class="share-form-header">
                    <h3 class="share-form-header-text">Share Profile</h3>
                    <span class="close" id="shareModalClose">&times;</span>
                </div>
                <div class="share-form-buttons-container">
                    <p>Share my Digital vCard in your network.</p>
                    <div class="share-buttons-heading">
                        <img src="../templates/template5/tild-arrow.svg" class="share-buttons-arrow">
                        <div class="share-buttons-heading-text">Share my Digital vCard</div>
                    </div>
                    <ul class="share-buttons">
                        <li class="share-button">
                        <a href="javascript:;" target="_blank" onclick="handleDirectWhatsappShare(this, 9920299901)">
                                <i class="share-button-whatsapp fab fa-whatsapp"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="sms:?body=http://card.linkconnect.in/amardeep-metals">
                                <i class="share-button-sms fas fa-comment-dots"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://card.linkconnect.in/amardeep-metals&src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                <i class="share-button-facebook fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="https://twitter.com/intent/tweet?text=http://card.linkconnect.in/amardeep-metals" data-size="large">
                                <i class="share-button-twitter fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="http://pinterest.com/pin/create/link/?url=http://card.linkconnect.in/amardeep-metals">
                                <i class="share-button-pinterest fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="share-button">
                            <a target="_blank" href="mailto:?subject=Digital Card&amp;body=Check out this digital card http://card.linkconnect.in/amardeep-metals.">
                                <i class="share-button-mail fas fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
        <script src="../commonjs.js"></script>
    </body>
</html>
    